<% provide(:title, full_name(@user)) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= profile_pic_for @user, :thumb   %>
				<%= full_name(@user) %>
			</h1>
			<h4>
				<%= render 'shared/friend_form' %>
			</h4>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<%= render 'follow_form' if signed_in? %>
		<% if @user.microposts.any? %>
			<h3>Microposts (<%= @user.microposts.count %>)</h3>
			<ol class="microposts">
			<%= render @microposts %>
			</ol>

		<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>
