<% provide(:title, 'Create new game') %>
<h1>Create new game</h1>

<div class="row">
		<div class="span4 offset4">
			<%= form_for(@game) do |f| %>

				<%= f.label :name, "Name of Team 1 vs. Name of Team 2" %>
				<%= f.text_field :name %>

				<%= f.label :description, "Type of Sport" %>
				<%= f.select(:description, options_for_select([
										['Baseball', 'Baseball'],
										['Basketball', 'Basketball'],
										['Football', 'Football'],
										['Soccer', 'Soccer'],
										['Tennis', 'Tennis']
										])) %>
				<%= f.label :date, "Date of Event" %>
				<%= f.date_select :date, :order => [:month, :day, :year] %>

				<%= f.label :icon_id, "Choose a sports icon" %>
			
				<%= f.text_field :icon_id %>
		</div>
</div>
<div class="row">
		<div class="span7 offset3">
				<% @icons.each do |icon| %>
				<%= show_image icon, :thumb %>
				<% end %>
		</div>
</div>
		<div class="center">
				<%= f.submit "Post New Game", class: "btn btn-large btn-primary" %>
				<% end %>
		</div>
		</div>
</div>
	